# Ignore secrets file
/8_terraform/1_vnet_creation/secrets

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

#Ignore Terraform binaries
/8_terraform/1_vnet_creation/.terraform
/8_terraform/1_vnet_creation/terraform
