# Ignore all secrets files in any directory
**/secrets

# Ignore all .terraform directories in any directory
**/.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

